<html>

<head>
    <title>Zendesk tickets</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/single_ticket.css') }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>SWAPI2</h1>
    </header>
    <div id="single-ticket-container">
        <div id="single-ticket-header">
            <h2>Created At: {{ res_json.ticket.created_at }}</h2>
            <h2>Submitter Id: {{ res_json.ticket.submitter_id }}</h2>
        </div>
        <h2 id="single-ticket-status">Status: {{ res_json.ticket.status}}</h2>
        <div id="single-ticket-byline">
            <h3>Priority: {{ res_json.ticket.priority }}</h3>
            <h3>Due: {{ res_json.ticket.due_at }}</h3>
        </div>
        <div id="single-ticket-body">
            <div>
                <h2>Subject:</h2>
                <p>{{ res_json.ticket.subject}}</p>
            </div>
            <div>
                <h2>Description:</h2>
                <p>{{ res_json.ticket.description}}</p>
            </div>
        </div>
    </div>
</body>
</html>